@tailwind base;
@tailwind components;
@tailwind utilities;


.profile-border{
    border: solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(60deg, #b16ec4, #5f97b9);
}
